body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
}


.bg-gradient-blue {
    background-image: linear-gradient(to right, #2c3e50, #3498db);
}


h1 {
    color: #A9A9A9;
}
circle {
    color: #A9A9A9;
}


.noticia-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.body-pages {
        font-family: 'Inter', sans-serif;
         background-color: #f0f2f5;
        }

.bg-gradient-blue {
        background-image: linear-gradient(to right, #2c3e50, #3498db);
        }

.título-página { 
    color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f4f8;
}
